<!doctype html>
<head>
  <meta charset="utf-8">
  <title>TOTP</title>
  <link rel="icon" href="/2fa/static/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/2fa/static/styles.css">
</head>

<body>

   {% for category, message in get_flashed_messages(with_categories=True) %}
               <div class="flash {{ category }}">
                   {{ message }}
               </div>
       {% endfor %}

<br>

  <form action = "/2fa/verifyCode" method="post">
   <label for="code">Code Goes Here</label><br>
   <input type="text" id="code" name="code"><br>
     <input type="submit" value="Submit">
 </form>
<div class="code">
 <img src="/2fa/static/qrcode.png" alt="QR Code">
</div>
<div class= "flash">
Scan the QR code with your authenticator app of choice (Google Authenticator, Authy, etc.)!
</div>
</body>


</html>
